/* =============================================================================

	MAIN.CSS
	version: 1.7
	updated: 2009-03-14, 12:44 GMT+1

============================================================================= */

/* =============================================================================
HTML - styles
============================================================================= */
form {
	padding: 0px;
	margin: 0px;
}
body {
	font-family: "微软雅黑", Verdana, Geneva, sans-serif;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	background: url(../images/backgroud.png) repeat-x;
}
table {
	margin: 10px 0;
}
div ul h1 h2 h3 h4 {
	font-family: "微软雅黑", Verdana, Geneva, sans-serif;
}
span {
	font-family: "微软雅黑", Verdana, Geneva, sans-serif;
}
a {
	text-decoration: none;
}
#content h1 {
	font-size: 180%;
}
#content h2 {
	font-size: 160%;
}
#content h3 {
	font-size: 140%;
}
#content h4 {
	font-size: 120%;
}
#content h5, h6 {
	font-size: 100%;
}
#content table {
	margin: 0;
	border-collapse: collapse;
}
#content table.width100 {
	width: 100%;
}
#content table th, #content table td {
	padding: 5px 5px;
}
#content table th {
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
}
#content ul {
	margin: 15px 0;
	list-style: none;
}
#content ul li {
	padding-left: 15px;
	background: url("../images/ul.gif") 0 4px no-repeat;
}
#content ul ul {
	margin: 0 0 0 10px;
}
#content ul ul li {
	padding-left: 15px;
	background: url("../images/ul-ul.gif") 0 4px no-repeat;
}
#content ol {
	margin: 15px 0 15px 30px;
	list-style-type: decimal;
}
#content ol ol {
	margin: 0 0 0 20px;
}
#content ol ol li {
	list-style-type: lower-alpha;
}
#content dl {
	clear: both;
}
#content dl dt {
	font-weight: bold;
}
#content dl dd {
	margin: 0 0 5px 0;
}
#content fieldset {
	position: relative;
	margin: 10px 0;
	padding: 10px;
}
#content legend {
	font-size: 120%;
	font-weight: bold;
}
#content code {
	font-family: "", monospace;
}
#content .help {
	cursor: help;
}
.ui-autocomplete {
	max-height: 300px;
	/*height: 300px; */
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/

/* =============================================================================
HTML - without styles
============================================================================= */
.fleft {
	float: left;
}
.fright {
	float: right;
}
.w2 {
	width: 200px;
}
.clearb {
	clear: both;
}
.h5 {
	height: 5px;
}
.h10 {
	height: 10px;
}
.pad5 {
	padding: 5px;
}
.pad10 {
	padding: 10px;
}
.colw {
	color: #FFF;
}
.fontGreen {
	color: #090;
}
.fontRed {
	color: #900;
	font-weight: bold;
}
table.nostyle, table.nostyle th, table.nostyle td {
	border: 0 !important;
}
table.nostyle th {
	background: none !important;
	text-align: left !important;
}
table.nostyle th, table.nostyle td {
	padding: 3px 5px !important;
}
ul.nostyle {
	margin: 15px 0 15px 20px !important;
	list-style-type: square !important;
}
ul.nostyle ul {
	margin: 0 0 0 25px !important;
	list-style-type: square !important;
}
ul.nostyle li {
	padding: 0 !important;
	background: none !important;
}
dl.nostyle dt {
	font-weight: bold !important;
}
dl.nostyle dd {
	margin: 0 !important;
}
/* =============================================================================
LAYOUT
============================================================================= */

#main {
	min-width: 1011px;
	max-width: 1260px;
	margin: 0 auto;
	padding: 0;
	background: #FFF;
 width:expression(document.body.clientWidth < 1011? "1011px" : "auto" );
}
.sidebarLeft {
	float: left;
	width: 20%;
	padding-bottom: 10px;
}
.sidebarMain {
	padding: 10px 0;
	width: 60%;
	float: left;
}
.sidebarMainTo {
	padding: 0;
	width: 80%;
	float: left;
}
.sidebarRight {
	float: left;
	width: 20%;
	padding: 0;
	font-family: 微软雅黑;
}
.sidebarMainTo .title {
	font-family: 微软雅黑;
	margin-bottom: 5px;
	font-size: 14px;
	background: #666;
	color: #FFF;
	line-height: 22px;
	padding: 5px 10px;
}
.pageTitleTop {
	font-family: 微软雅黑;
	font-size: 14px;
	background: #666;
	color: #FFF;
	line-height: 22px;
	padding: 5px 10px;
}
.pageTitle {
	font-family: 微软雅黑;
	margin-bottom: 5px;
	font-size: 14px;
	background: #FEF1E3;
	color: #333;
	line-height: 22px;
	padding: 5px 10px;
}
.ouTreeTitle {
	background: #e68012;
	padding: 2px 0 2px 10px;
	color: #FFF;
	font-size: 14px;
}
.ouTree {
	background: #fef1e3;
	min-width: 140px;
}
#localJson {
	padding: 5px;
	overflow: auto
}
.ouzhuzhi {
	font-family: 微软雅黑;
	font-size: 14px;
}
.ouDn {
	font-family: 微软雅黑;
	font-size: 12px;
	color: #999;
}
.showDn {
	padding: 5px;
	background: #666;
	color: #FFF;
}
#tray {
	padding: 12px 15px;
	background: #000 url("../images/tray.gif") 0 0 repeat-x;
	font: 14px;
	color: #fff;
}
#tray a, #tray strong {
	color: #fff;
}
#tray a:hover, #tray a:active, #tray a:focus {
	color: #fff;
}
#tray p {
	margin: 0;
}
#tray p.f-left {
	width: 50%;
}
#tray #logout {
	padding-left: 18px;
	background: url(../images/logout.png) 5px 50% no-repeat;
	font-family: 微软雅黑, Verdana, Geneva, sans-serif;
	text-transform: uppercase;
	padding: 2px 10px 2px 25px;
}
#tray #logout:hover {
	background: #666 url(../images/logout.png) 5px 50% no-repeat;
	padding: 2px 10px 2px 25px;
}
#tray #switcher {
	margin-right: 15px;
}
#tray #switcher img {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	border: 0;
}
#content {/*padding:20px;*/
	overflow: hidden;
}
#footer {
	clear: both;
	padding: 15px;
	background: url("../images/separator.gif") 0 0 repeat-x;
	font: 12px;
}
#footer p {
	margin: 0;
}
/* =============================================================================
/* =============================================================================
OTHERS
============================================================================= */

#aside .padding {
	padding-left: 15px;
}
#aside #logo {
	margin: 0 0 15px 0;
}
#aside #logo img {
	display: block;
	width: 200px;
}
#aside #search fieldset {
	padding: 7px 10px;
}
#aside #search fieldset p {
	margin: 0;
}
#aside #search fieldset legend {
	font-weight: bold;
}
#aside #search fieldset .input-text {
	width: 130px;
}
#aside #search fieldset #search-options {
	margin-top: 10px;
}
#aside #btn-create {
	margin: 0 0 15px 0;
}
#aside #btn-create a {
	float: left;
	padding-left: 27px;
	height: 37px;
	overflow: hidden;
	background: url("../images/btn-create-left.gif") 0 0 no-repeat;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}
#aside #btn-create a span {
	float: left;
	display: block;
	width: 163px;
	padding: 8px 0 10px 10px;
	background: url("../images/btn-create-right.gif") -2px 0 no-repeat;
}
#aside #btn-create a:hover {
	background-position: 0 -37px;
}
#aside ul {
	width: 215px;
	margin: 0 0 15px 0;
	list-style: none;
}
#aside ul li {
	display: inline;
}
#aside ul li a {
	display: block;
	width: 185px;
	padding: 4px 15px;
	text-decoration: none;
}
#aside ul li#submenu-active a {
	width: 198px;
	border: 0;
	background: url("../images/submenu-active.gif") 100% 50% no-repeat;
	font-weight: bold;
	z-index: 999;
}
#aside ul ul {
	margin: 0;
	position: static;
}
#aside ul ul li a, #aside ul li#submenu-active ul li a {
	width: 170px;
	padding: 5px 15px 5px 30px;
	background: url("../images/submenu-sub.gif") 15px 7px no-repeat;
	font: 12px;
	font-weight: normal;
}
#content h1 {
	margin: 0;
	padding: 10px 15px;
	background: url("../images/content-h1.gif") 0 0 repeat-x;
	letter-spacing: -1px;
}
#content .col50 {
	float: left;
	width: 49%;
}
#content .col33 {
	float: left;
	width: 32%;
}
#content .col33.center {
	padding: 0 2%;
}
#content .tabs {
	margin: 15px 0;
}
#content .tabs ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#content .tabs ul li {
	display: inline;
	margin: 0;
	padding: 0;
}
#content .tabs a {
	float: left;
	margin-right: 3px;
	padding-left: 4px;
	background: url("../images/tabs-l.gif") 0 -100px no-repeat;
	text-decoration: none;
}
#content .tabs a span {
	float: left;
	display: block;
	padding: 8px 15px 6px 11px;
	background: url("../images/tabs-r.gif") 100% -100px no-repeat;
}
#content .tabs a:hover, .tabs a:hover span {
	text-decoration: underline;
}
#content .tabs .ui-tabs-selected a {
	background: url("../images/tabs-l.gif") 0 0 no-repeat;
	font-weight: bold;
}
#content .tabs .ui-tabs-selected a span {
	background: url("../images/tabs-r.gif") 100% 0 no-repeat;
}
#content .tabs .ui-tabs-selected a:hover, #content .tabs .ui-tabs-selected a:hover span {
	text-decoration: none;
}
#content .ui-tabs-hide {
	display: none !important;
}
.input-text {
	padding: 3px;
	font: 100%/1.5 "arial", sans-serif;
}
.input-text-02 {
	padding: 5px;
	font: 140%/1.5 "arial", sans-serif;
}
.input-submit {
	padding: 5px;
	font-size: 120%;
}
.input-submit-02 {
	padding: 1px;
	font-size: 100%;
}
.msg {
	padding: 10px;
	padding-left: 35px;
}
.msg.warning {
	background: url("../images/ico-warning.gif") 10px 50% no-repeat;
}
.msg.info {
	background: url("../images/ico-info.gif") 10px 50% no-repeat;
}
.msg.done {
	background: url("../images/ico-done.gif") 10px 50% no-repeat;
}
.msg.error {
	background: url("../images/ico-delete.gif") 10px 50% no-repeat;
}
/* ico*/
.addStaff {
	background: url("../images/addstaff.jpg") no-repeat;
	display: inline-block;
	font-family: 微软雅黑;
	font-weight: bold;
	font-size: 15px;
	padding: 5px 10px 6px 40px;
	color: #FFF;
}
.addOu {
	background: url("../images/addou.jpg") no-repeat;
	display: inline-block;
	font-family: 微软雅黑;
	font-weight: bold;
	font-size: 15px;
	padding: 5px 10px 6px 40px;
	color: #FFF;
}
.addAdmin {
	background: url("../images/addadmin.png") 5px 50% no-repeat;
	display: inline-block;
	font-family: 微软雅黑;
	font-size: 14px;
	padding: 5px 10px 6px 30px;
	color: #FFF;
	cursor: pointer;
}
.addAdmin:hover {
	background: #999 url("../images/addadmin.png") 5px 50% no-repeat;
}
.addDept {
	background: url(../images/adddept.png) 5px 50% no-repeat;
	display: inline-block;
	font-size: 16px;
	margin: 4px 5px 0 0;
	padding: 2px 10px 4px 35px;
	color: #FFF;
	cursor: pointer;
}
.addDept:hover {
	background: #8F8F8F url(../images/adddept.png) 5px 50% no-repeat;
}
.tongbu {
	background: url(../images/tongbu.png) 5px 50% no-repeat;
	display: inline-block;
	font-size: 14px;
	margin: 4px 5px 0 0;
	padding: 2px 10px 4px 30px;
	color: #FFF;
	cursor: pointer;
}
.tongbu:hover {
	background: #8F8F8F url(../images/tongbu.png) 5px 50% no-repeat;
}
/* ============
=================================================================
FONT STYLES
============================================================================= */
.content_layout {
	padding: 10px;
}
.bigger {
	font-size: 120%;
}
.smaller {
	font: 85%/1.2 "tahoma", sans-serif;
}
/* page layout */
.menuLeft {
	background: #329832;
}
.menuLeft ul {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 14px;
}
.menuLeft ul li {
	line-height: 30px;
}
.menuLeft ul li a {
	text-decoration: none;
	padding: 5px 10px 5px 20px;
	color: #FFF;
}
.menuLeft ul li a:hover {
	text-decoration: none;
	background: #030;
	color: #FFF;
}
.titleLeft {
	padding: 0px 10px;
	line-height: 30px;
	font-family: 微软雅黑;
	font-size: 16px;
	background: #006600;
	color: #FFF;
}
.menuLink {
	padding: 5px;
	background: #030;
}
.searchBox {
	border: 2px solid #CCC;
	background: #F3F3F3;
	padding: 5px 10px;
}
.searchBox .inputnav {
	padding: 2px 0 5px 0;
}
.searchBox .inputnav .inputtext {
	padding: 2px;
	font-family: 微软雅黑, Verdana, Geneva, sans-serif;
	font-size: 14px;
	border: 2px solid #CCC;
}
.searchTopinput {
	padding:2px;
	font-family: 微软雅黑, Verdana, Geneva, sans-serif;
	font-size: 12px;
	border: 2px solid #CCC; 
}
.searchTop {
	padding:4px 10px;
}
.searchTopbuttom {
	background:#CCC url(../images/searchb.png) 5px 50% no-repeat;
	height:25px;
	width:24px;
	color: #333;
	cursor: pointer;
	border: 0; 
	 
}
.searchTopbuttom:hover {
	background: #333 url(../images/searchw.png) 5px 50% no-repeat;
	display: inline-block;
	color: #FFF;
}
.searchBox ul{
	list-style:none;
	padding:0;
	margin:0;
	display:inline-block;
}
.searchBox ul li{
	float:left; 
	display:inline-block;
	margin-right:5px;
	font-size:14px;
}
.searchBox ul li a{
	display:inline-block;
	color:#666;
	line-height:22px;
	padding:1px 15px;
}
.searchBox ul li a:hover{
	background:#666;
	color:#FFF;
	 
}
.searchBox .curren {
	background:#666;
	color:#FFF;
	line-height:22px;
	display:inline-block;
	padding:1px 15px;
}
/* staff */
.staffadd {
	border: 2px solid #CCC;
	padding: 10px;
}
.staffAddSetp {
	font-size: 16px;
	font-family: 微软雅黑;
	color: #666;
	padding-bottom: 10px;
}
.staffform {
	border: 1px solid #0099FF;
	width: 68%;
	padding: 10px;
}
.staffformInfo {
	padding: 10px;
}
.inputText {
	padding: 2px;
	border: 2px solid #CCC;
	font-size: 14px;
	font-family: 微软雅黑;
}
.inputTextRead {
	padding: 2px;
	border: 2px solid #CCC;
	font-size: 14px;
	font-family: 微软雅黑;
	background: #F3F3F3
}
.searchButtom {
	background: url(../images/searchb.png) 5px 50% no-repeat;
	display: inline-block;
	padding: 3px 5px 3px 30px;
	font-size: 14px;
	color: #333;
	cursor: pointer;
	border: 0;
	font-family: 微软雅黑;
}
.searchButtom:hover {
	background: #333 url(../images/searchw.png) 5px 50% no-repeat;
	display: inline-block;
	color: #FFF;
}
/* form stlye */
 
.formLab {
	font-size: 14px;
	font-family: 微软雅黑;
	width: 70px;
	display: inline-block;
	color: #666;
	float: left;
}
.formLabt {
	font-size: 14px;
	font-family: 微软雅黑;
	text-align:right;
	padding: 0;
	display: inline-block;
	color: #666;
	float: left;
	width:60px;
}
.formLabi {
	font-size: 14px;
	font-family: 微软雅黑;
	padding: 0 20px 0 0;
	display: inline-block;
	color: #666;
	float: left;
}
.formcontrol {
	margin-left: 75px;
	font-family: 微软雅黑;
}
.formLine {
	padding-top: 10px;
	margin-bottom: 10px;
	border-bottom: 2px solid #F5F5F5;
}
.IcoDept {
	background: url(../images/Leaf1.gif);
	display: inline-block;
	width: 22px;
	height: 22px;
}
.IcoUser {
	background: url(../images/user.gif);
	display: inline-block;
	width: 22px;
	height: 22px;
}
.buttom {
	background: #069;
	padding: 2px 5px;
	font-family: 微软雅黑, Verdana, Geneva, sans-serif;
	color: #FFF;
	font-size: 14px;
	border: 0px solid #333;
	cursor: pointer;
}
.buttom:hover {
	background: #1F1F1F;
}
.button {
	background: #069;
	padding: 1px 5px;
	font-family: 微软雅黑, Verdana, Geneva, sans-serif;
	color: #FFF;
	display: inline-block;
	border: 0;
	font-size: 12px;
	cursor: pointer;
}
.button:hover {
	background: #1F1F1F;
}
.buttonOt {
	background: #999;
	padding: 1px 4px;
	font-family: 微软雅黑, Verdana, Geneva, sans-serif;
	color: #FFF;
	border: 0;
	font-size: 12px;
	cursor: pointer;
}
.buttonOt:hover {
	background: #1F1F1F;
}
.pageNav {
	font: 12px;
	line-height: 16px;
	padding: 4px;
}
.pageInfo {
	color: #0073AA;
}
.pageNav a {
	display: inline-block;
	background: #E8E8E8;
	padding: 0 5px;
	min-width: 5px;
	color: #060;
	border: 1px solid #CCC;
}
.pageNav button {
	display: inline-block;
	font-family: Verdana, Geneva, sans-serif;
	background: #E8E8E8;
	padding: 0 5px;
	min-width: 5px;
	color: #060;
	border: 1px solid #CCC;
}
.pageNav button:hover {
	background: #0088CA;
	color: #FFF;
}
.editpass {
	border: none;
	width: 16px;
	height: 16px;
	cursor: pointer;
	background: url(../images/action_pass.png);
}
.login {
	padding: 0 auto;
	margin: 0 auto;
	width: 800px;
	height: 430px;
	background: url("../../assets/images/login_back.jpg") no-repeat;
}
.login_txt {
	padding: 140px 0 0 470px;
}
.inputbox {
	padding: 2px;
	margin-top: 5px;
	border: 0;
	font-size: 12px;
	border: 1px solid #999;
}
label.error {
	color: #F00;
	padding-left: 5px;
}
input.error {
	border: #F00 2px solid;
	background: #FFF0F0;
}
.beforeinput {
	width: 80px;
	display: inline-block;
}
.funtion_show {
	display: none;
	padding: 10px;
	margin: 0px 8px 10px 8px;
	border: #090 1px solid;
	background-color: #FFF;
}
.funtion_show dd {
	margin: 0 0 5px 0;
}
.ipFun{
	width:150px;
	display:inline-block;
	}
