/*!
 *  
 *  
 */
 
body,div,h1,h2,h3,h4,h5,input,select,button {
    font-family:"Microsoft YaHei", sans-serif,Hiragino Sans GB,WenQuanYi Micro Hei;
	padding:0;
	margin:0;
}
h2{
	color:#34495E;
	font-size:24px;
}
.container{
	margin:auto auto;
	width:900px; 
	padding-top:0;
	border:2px solid #34495E;
	-moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;       
	}

.navbar {
     font-size: 20px;
	 font-weight:100;
	 background:#34495E;
	 display:block;
	 height:38px; 
}
.navbar h5{
	color:#FFF;
	font-size:26px;
	padding-left:10px;
	font-weight:normal;
	}
.page-header{
	padding:25px 0 10px 0;
	border-bottom:2px solid #DDDDDD;
}
.my-form{
	padding:0 10px;
}
.form-group{
	padding:5px;
	color:#666;
	font-size:14px;
	line-height:26px;
	 }
.form-control{
	border:2px solid #CCC;
	padding:2px 5px;
	
	-moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
	 }
input.error{
	border:2px solid #E37575;
	width:118px;
}
select.error{
	border:2px solid #E37575;
	 
}
.error{
	color:#C00;
	font-size:12px;
	padding-left:10px;
}
.input-sm{ 
	width:118px;
}
.select{
	width:130px;
}
.btn-lg{
	padding:10px 30px;
	font-size:20px;
	background:#16a085;
	color:#FFF;
	border:0;
	-moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;
	cursor:pointer;
	}
.btn-lg:hover{ 
	background:#1abc9c;
	 
	}
.col-xs-12{
	padding:10px;
	clear:both;
	border-bottom:1px solid #F2F2F2;
}
.col-xs-3{
	float:left;
	text-align:right;
	width:40%;
	display:inline-block;
	padding-right:5px;
}
.shjg{
	font-size:20px;
	color:#34495E;
}
.text-success{
	color:#C00;
}

footer{
	padding:25px 0 10px 0;
	color:#333; 
	}
 